.check-container {
  @apply h-5 w-5;
  @apply top-1;

  & input:checked ~ .checkmark {
    /* @apply bg-blue-600; */
    /* @apply border-blue-700; */
    @apply rounded-md;
  }

  & .checkmark:after {
    /* @apply border-r-4 border-b-4 border-blue-50; */
    @apply left-1;
    @apply transform rotate-45 scale-50;
    @apply w-3 h-5;

    top: -1px;
  }
}

.checkmark {
  @apply transition-shadow duration-200;
  /* @apply border border-gray-300; */
  /* @apply bg-white; */
  @apply rounded-md;

  &:hover {
    @apply shadow-outline;
  }
}
