.bp3-icon-calendar::before {
  content: var(--icon-cal);
}

.bp3-icon-graph::before {
  content: var(--icon-graph);
}

.bp3-icon-list::before {
  content: var(--icon-list);
}

.bp3-icon-star::before {
  content: var(--icon-star);
}

.bp3-icon-search::before {
  content: var(--icon-search);
}

.bp3-icon-filter::before {
  content: var(--icon-filter);
}

.bp3-icon-star-empty::before {
  content: var(--icon-star-empty);
}

.bp3-icon-more::before {
  content: var(--icon-more);
}

.bp3-icon-help::before {
  content: var(--icon-help);
}

.bp3-icon-menu-closed::before {
  content: var(--icon-menu-closed);
}

.bp3-icon-menu-open::before {
  content: var(--icon-menu-open);
}

.bp3-icon-menu::before {
  content: var(--icon-menu);
}

.bp3-icon-cross::before {
  content: var(--icon-cross);
}

.bp3-icon-pin::before {
  content: var(--icon-pin);
}

.bp3-icon-video::before {
  content: var(--icon-video);
}

.bp3-icon-chat::before {
  content: var(--icon-chat);
}

.bp3-icon-trash::before {
  content: var(--icon-trash);
}

.bp3-icon-export::before {
  content: var(--icon-export);
}

.bp3-icon-eye-open::before {
  content: var(--icon-eye-open);
}

.bp3-icon-tick::before {
  content: var(--icon-tick);
}

.bp3-icon-git-new-branch::before {
  content: var(--icon-git-new-branch);
}

.bp3-icon-new-link::before {
  content: var(--icon-new-link);
}

.bp3-icon-new-layers::before {
  content: var(--icon-new-layers);
}

.bp3-icon-translate::before {
  content: var(--icon-translate);
}

.bp3-icon-time::before {
  content: var(--icon-time);
}

.bp3-icon-stopwatch::before {
  content: var(--icon-stopwatch);
}

.bp3-icon-issue-new::before {
  content: var(--icon-issue-new);
}

.bp3-icon-fast-forward::before {
  content: var(--icon-fast-forward);
}

.bp3-icon-fast-backward::before {
  content: var(--icon-fast-backward);
}

.bp3-icon-bold::before {
  content: var(--icon-bold);
}

.bp3-icon-italic::before {
  content: var(--icon-italic);
}

.bp3-icon-highlight::before {
  content: var(--icon-highlight);
}

.bp3-icon-code-block::before {
  content: var(--icon-code-block);
}

.bp3-icon-function::before {
  content: var(--icon-function);
}

.bp3-icon-calculator::before {
  content: var(--icon-calculator);
}

.bp3-icon-cloud-upload::before {
  content: var(--icon-cloud-upload);
}

.bp3-icon-\:strikethrough::before {
  content: var(--icon-strikethrough);
}

.bp3-icon-\:code::before {
  content: var(--icon-code);
}