/* .kanban-board {
  max-width: 100% !important;
  padding: 0 !important;
  background: none !important;
}
.kanban-board .kanban-column {
  border-radius: 6px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.kanban-board .kanban-column:not([style*=background]) {
  background: transparent !important;
}
.kanban-board .kanban-column[style*=background] {
  background: var(--secondary-background-color) !important;
}
.kanban-board .kanban-column .kanban-title {
  text-align: left !important;
  border-bottom: 1px solid var(--subtle-border-color) !important;
  padding: 2px 8px !important;
  min-height: 31px;
  max-height: 31px;
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.kanban-board .kanban-column .kanban-card {
  background: var(--cards-background-color) !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 4px 7px -1px rgba(0, 0, 0, 0.07) !important;
  border-radius: 4px !important;
  padding: 6px 10px !important;
  margin: 0px 6px 12px !important;
  font-size: 14px !important;
}
.kanban-board .kanban-column .kanban-card .check-container {
  margin-bottom: 8px !important;
} */