/*
@TODO: decide whether this is a good idea 
.rm-page-ref,
.rm-attr-ref {
  font-size: 87.5%;
} 
*/

/* Ref Links */
.rm-page-ref__brackets {
  @apply text-gray-200;
}

.rm-page-ref--link,
.rm-page-ref--namespace {
  @apply transition-all duration-500;

  background-position: 0 0.9em;
  background-repeat: no-repeat;
  background-size: 0% 7px;

  &:hover {
    @apply no-underline;

    background-size: 100% 7px;
  }
}

.rm-page-ref--link {
  @apply text-indigo-500;

  background-image: linear-gradient(
    to right,
    theme('textColor.indigo.100') 100%,
    transparent 0%
  );

  &:hover {
    @apply text-indigo-900;
  }
}

.rm-page-ref--namespace {
  @apply text-red-500;

  background-image: linear-gradient(
    to right,
    theme('textColor.red.100') 100%,
    transparent 0%
  );

  &:hover {
    @apply text-red-900;
  }
}

/* Ref Attr */
.rm-attr-ref {
  @apply relative;
  @apply inline-block;
  @apply pl-2 pr-1;
  @apply mr-1;
  @apply text-gray-700;
  @apply font-medium;

  &:hover {
    &::before,
    &::after {
      @apply bg-gray-50;
      @apply bg-opacity-20;
    }
  }

  &::before,
  &::after {
    @apply transition-colors duration-200;
    @apply absolute;
    @apply block;
    @apply bg-gray-200;
    @apply bg-opacity-20;
    @apply w-full h-1/2;
    @apply transform;

    content: '';
  }

  &::before {
    @apply border-l border-r border-t border-gray-200;
    @apply top-0 left-0;
    @apply skew-x-20;
  }

  &::after {
    @apply border-l border-r border-b border-gray-200;
    @apply bottom-0 left-0;
    @apply -skew-x-20;
  }
}

/* Ref Tags */
.rm-page-ref--tag {
  @apply transition-colors duration-200;
  @apply bg-gray-50;
  @apply text-gray-700;
  @apply py-1 px-2;
  @apply rounded-md;
  @apply font-medium;

  &:hover {
    @apply text-white;
    @apply bg-gray-700;
    @apply no-underline;
  }
}

/* External Links */
a.rm-alias.rm-alias--external {
  @apply transition-all duration-500;
  @apply text-indigo-500;

  background-image: linear-gradient(
    to right,
    theme('textColor.indigo.100') 100%,
    transparent 0%
  );
  background-position: 0 0.9em;
  background-repeat: no-repeat;
  background-size: 0% 4px;

  &:hover {
    @apply text-indigo-900;
    @apply no-underline;

    background-size: 100% 7px;
  }

  &::after {
    @apply inline-block;
    @apply ml-1;

    content: '🔗';
  }
}
