/* .roam-log-container .roam-log-page {
  border-top: 1px solid var(--subtle-border-color) !important;
}
.roam-log-container .roam-log-page:first-child {
  min-height: 0 !important;
  border-top: none !important;
} */