/** 
 * See: links.css
 *
 * These are shorthand for various tags:
 *
 * @ = Read / Watched
 * ! = Currently
 * ~ = Unread / Not Watched
 * $ = Active Project
 * % = Project Needs Definition
 * & = Upcoming Project
 */

/* Shortcuts */
.rm-page-ref--tag[data-tag='@'] {
  @apply inline-block;
  @apply bg-green-50;
  @apply text-green-700;
  
  text-indent: -9999px;
  line-height: 0;

  &::after {
    @apply block;

    content: var(--shortcut-at);
    line-height: initial;
    text-indent: 0;
  }

  &:hover {
    @apply text-white;
    @apply bg-green-700;
  }
}
