/** 
 * Shorthands
 * See: links.css
 *
 * These are shorthand for various tags:
 *
 * @ = Read / Watched
 * ! = Currently
 * ~ = Unread / Not Watched
 * + = Active Project
 * % = Project Needs Definition
 * & = Upcoming Project
 */

/* Tags and links shared styles (text replacing) */
[data-link-title='@'] .rm-page-ref--link,
[data-link-title='!'] .rm-page-ref--link,
[data-link-title='~'] .rm-page-ref--link,
[data-link-title='+'] .rm-page-ref--link,
[data-link-title='%'] .rm-page-ref--link,
[data-link-title='&'] .rm-page-ref--link,
.rm-page-ref--tag[data-tag='@'],
.rm-page-ref--tag[data-tag='!'],
.rm-page-ref--tag[data-tag='~'],
.rm-page-ref--tag[data-tag='+'],
.rm-page-ref--tag[data-tag='%'],
.rm-page-ref--tag[data-tag='&'] {
  @apply inline-block;

  text-indent: -9999px;
  line-height: 0;

  &::after {
    @apply block;

    line-height: initial;
    text-indent: 0;
  }
}

/* Only tags */
.rm-page-ref--tag[data-tag='@'],
.rm-page-ref--tag[data-tag='!'],
.rm-page-ref--tag[data-tag='~'],
.rm-page-ref--tag[data-tag='+'],
.rm-page-ref--tag[data-tag='%'],
.rm-page-ref--tag[data-tag='&'] {
  &:hover {
    /* @apply text-white; */
  }
}

/* Autocomplete dropdown */
[title='@'],
[title='!'],
[title='~'],
[title='+'],
[title='%'],
[title='&'] {
  & .rm-autocomplete-result {
    &::after {
      /* @apply bg-gray-50; */
      /* @apply border border-gray-50; */
      @apply inline-block;
      @apply ml-1;
      @apply py-1 px-2;
      @apply rounded-md;
      /* @apply text-gray-700; */
      @apply text-sm;
    }
  }
}

/* Read / Watched */
[title='@'] .rm-autocomplete-result {
  &::after {
    content: var(--shorthand-at);
  }
}

.rm-page-ref--tag[data-tag='@'] {
  /* @apply bg-blue-50;
  @apply text-blue-700; */

  &::after {
    content: var(--shorthand-at);
  }

  &:hover {
    /* @apply bg-blue-700; */
  }
}

[data-link-title='@'] .rm-page-ref--link {
  /* @apply text-blue-700; */

  /* background-image: linear-gradient(
    to right,
    theme('textColor.blue.100') 100%,
    transparent 0%
  ); */

  &::after {
    content: var(--shorthand-at);
  }
}

/* Currently */
[title='!'] .rm-autocomplete-result {
  &::after {
    content: var(--shorthand-bang);
  }
}

.rm-page-ref--tag[data-tag='!'] {
  /* @apply bg-yellow-50; */
  /* @apply text-yellow-700; */

  &::after {
    content: var(--shorthand-bang);
  }

  &:hover {
    /* @apply bg-yellow-700; */
  }
}

[data-link-title='!'] .rm-page-ref--link {
  /* @apply text-yellow-700; */

  /* background-image: linear-gradient(
    to right,
    theme('textColor.yellow.100') 100%,
    transparent 0%
  ); */

  &::after {
    content: var(--shorthand-bang);
  }
}

/* Unread / Not Watched */
[title='~'] .rm-autocomplete-result {
  &::after {
    content: var(--shorthand-tilde);
  }
}

.rm-page-ref--tag[data-tag='~'] {
  /* @apply bg-red-50; */
  /* @apply text-red-700; */

  &::after {
    content: var(--shorthand-tilde);
  }

  &:hover {
    /* @apply bg-red-700; */
  }
}

[data-link-title='~'] .rm-page-ref--link {
  /* @apply text-red-700; */

  /* background-image: linear-gradient(
    to right,
    theme('textColor.red.100') 100%,
    transparent 0%
  ); */

  &::after {
    content: var(--shorthand-tilde);
  }
}

/* Active Project */
[title='+'] .rm-autocomplete-result {
  &::after {
    content: var(--shorthand-plus);
  }
}

.rm-page-ref--tag[data-tag='+'] {
  /* @apply bg-blue-50; */
  /* @apply text-blue-700; */

  &::after {
    content: var(--shorthand-plus);
  }

  &:hover {
    /* @apply bg-blue-700; */
  }
}

[data-link-title='+'] .rm-page-ref--link {
  /* @apply text-blue-700; */

  /* background-image: linear-gradient(
    to right,
    theme('textColor.blue.100') 100%,
    transparent 0%
  ); */

  &::after {
    content: var(--shorthand-plus);
  }
}

/* Project Needs Definition */
[title='%'] .rm-autocomplete-result {
  &::after {
    content: var(--shorthand-percent);
  }
}

.rm-page-ref--tag[data-tag='%'] {
  /* @apply bg-red-50; */
  /* @apply text-red-700; */

  &::after {
    content: var(--shorthand-percent);
  }

  &:hover {
    /* @apply bg-red-700; */
  }
}

[data-link-title='%'] .rm-page-ref--link {
  /* @apply text-red-700; */

  /* background-image: linear-gradient(
    to right,
    theme('textColor.red.100') 100%,
    transparent 0%
  ); */

  &::after {
    content: var(--shorthand-percent);
  }
}

/* Upcoming Project */
[title='&'] .rm-autocomplete-result {
  &::after {
    content: var(--shorthand-amp);
  }
}

.rm-page-ref--tag[data-tag='&'] {
  /* @apply bg-yellow-50; */
  /* @apply text-yellow-700; */

  &::after {
    content: var(--shorthand-amp);
  }

  &:hover {
    /* @apply bg-yellow-700; */
  }
}

[data-link-title='&'] .rm-page-ref--link {
  /* @apply text-yellow-700; */

  /* background-image: linear-gradient(
    to right,
    theme('textColor.yellow.100') 100%,
    transparent 0%
  ); */

  &::after {
    content: var(--shorthand-amp);
  }
}
