/** 
 * Shorthands
 * See: links.css
 *
 * These are shorthand for various tags:
 *
 * @ = Read / Watched
 * ! = Currently
 * ~ = Unread / Not Watched
 * + = Active Project
 * % = Project Needs Definition
 * & = Upcoming Project
 */

.rm-page-ref--tag[data-tag='@'],
.rm-page-ref--tag[data-tag='!'],
.rm-page-ref--tag[data-tag='~'],
.rm-page-ref--tag[data-tag='+'],
.rm-page-ref--tag[data-tag='%'],
.rm-page-ref--tag[data-tag='&'] {
  @apply inline-block;

  text-indent: -9999px;
  line-height: 0;

  &::after {
    @apply block;

    line-height: initial;
    text-indent: 0;
  }

  &:hover {
    @apply text-white;
  }
}

/* Read / Watched */
.rm-page-ref--tag[data-tag='@'] {
  @apply bg-blue-50;
  @apply text-blue-700;

  &::after {
    content: var(--shorthand-at);
  }

  &:hover {
    @apply bg-blue-700;
  }
}

/* Currently */
.rm-page-ref--tag[data-tag='!'] {
  @apply bg-yellow-50;
  @apply text-yellow-700;
  &::after {
    content: var(--shorthand-bang);
  }

  &:hover {
    @apply bg-yellow-700;
  }
}

/* Unread / Not Watched */
.rm-page-ref--tag[data-tag='~'] {
  @apply bg-red-50;
  @apply text-red-700;

  &::after {
    content: var(--shorthand-tilde);
  }

  &:hover {
    @apply bg-red-700;
  }
}

/* Active Project */
.rm-page-ref--tag[data-tag='+'] {
  @apply bg-blue-50;
  @apply text-blue-700;

  &::after {
    content: var(--shorthand-plus);
  }

  &:hover {
    @apply bg-blue-700;
  }
}

/* Project Needs Definition */
.rm-page-ref--tag[data-tag='%'] {
  @apply bg-red-50;
  @apply text-red-700;

  &::after {
    content: var(--shorthand-percent);
  }

  &:hover {
    @apply bg-red-700;
  }
}

/* Upcoming Project */
.rm-page-ref--tag[data-tag='&'] {
  @apply bg-yellow-50;
  @apply text-yellow-700;

  &::after {
    content: var(--shorthand-amp);
  }

  &:hover {
    @apply bg-yellow-700;
  }
}
