#right-sidebar {
  
}

/* #right-sidebar {
  border: none !important;
  transition: none !important;
  overflow: hidden !important;
}
#right-sidebar h1 {
  font-size: 18px !important;
}
#right-sidebar #roam-right-sidebar-content {
  margin-left: -6px !important;
}
#right-sidebar #roam-right-sidebar-content > div[style] {
  border-bottom: 1px solid var(--subtle-border-color) !important;
}
#right-sidebar .hoverparent,
#right-sidebar .react-resizable {
  max-width: 100% !important;
}
#right-sidebar .hoverparent img,
#right-sidebar .react-resizable img {
  max-width: 100% !important;
}
#right-sidebar .rm-block-text {
  font-size: 14.5px !important;
} */
