.roam-body .roam-app {
  /* Sidebar Container */
  & .roam-sidebar-container {
    @apply bg-gray-50;
  }

  & .roam-sidebar-container {
    bottom: 0 !important;
    /* box-shadow: none !important; */
  }

  /* Sidebar Content */
  & .roam-sidebar-container .roam-sidebar-content {
    & .top-row {
      @apply p-4;
      @apply rounded-br-md;
      @apply transition-colors duration-200;

      & .rm-db-title,
      & .rm-db-title .expand-icon {
        @apply transition-colors duration-200;
        @apply text-gray-500;
        @apply font-light;
      }
    }

    & .top-row:hover {
      @apply bg-blue-50;

      & .rm-db-title,
      & .rm-db-title .expand-icon {
        @apply text-blue-700;
      }
    }

    & .log-button {
      @apply font-black;
      @apply py-4 px-5;
      @apply rounded-r-md;
      @apply text-gray-500;
      @apply text-xs;
      @apply tracking-wider;
      @apply transition-colors duration-200;

      &:hover {
        @apply bg-blue-50;
        @apply text-blue-700;
      }

      /* Graph Overview */
      &:nth-child(3) {
        display: var(--graph-overview-display);
      }
    }

    & .starred-pages-wrapper {
      /* Starred pages title */
      & > .flex-h-box {
        @apply pt-2;

        & span {
          @apply font-black;
          @apply text-gray-500;
          @apply text-xs;
          @apply tracking-wider;
        }
      }

      /* Starred pages links */
      & .starred-pages {
        @apply pt-2;

        & .page {
          @apply rounded-md;
          @apply text-gray-500;
          @apply transition-colors duration-200;
          @apply text-base;
          @apply py-2 px-4;

          &:hover {
            @apply bg-blue-50;
            @apply text-blue-700;
          }
        }
      }
    }
  }
}

.starred-pages-wrapper {
  & > div:first-child {
    @apply hidden;
  }

  & > div:nth-child(2) {
    @apply border-t border-gray-200;
  }
}

/* Hide logo */
#roam-sidebar-logo {
  display: none;
}
