.check-container {
  & input:checked ~ .checkmark {
    @apply bg-blue-600;
    @apply border-blue-700;
  }

  & .checkmark:after {
    @apply border-r-4 border-b-4 border-blue-50;
  }
}

.checkmark {
  @apply border border-gray-900;
  @apply bg-gray-700;
}
