:root {
  --graph-overview-display: block;
  /* icons */
  --icon-cal: '📅';
  --icon-graph: '🧭';
  --icon-list: '📘';
  --icon-star: '⭐';
  --icon-search: '🔍';
  --icon-filter: '🎛';
  --icon-star-empty: '🔖';
  --icon-more: '⚙️';
  --icon-help: '❓';
  --icon-menu-closed: '⬅️';
  --icon-menu-open: '➡️';
  --icon-menu: '🍔';
  --icon-cross: '❌';
  --icon-pin: '📌';
  --icon-video: '🎥';
  --icon-chat: '💬';
  --icon-trash: '🗑';
  --icon-export: '📤';
  --icon-eye-open: '👀';
  /* shorthands */
  --shorthand-at: 'Read/Watched';
  --shorthand-bang: 'Currently';
  --shorthand-tilde: 'Unread/Not Watched';
  --shorthand-plus: 'Active Project';
  --shorthand-percent: 'Project Needs Definition';
  --shorthand-amp: 'Upcoming Project';
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
