:root {
  --graph-overview-display: none;
  /* icons */
  --icon-cal: '📅';
  --icon-graph: '🧭';
  --icon-list: '📘';
  --icon-star: '⭐';
  --icon-search: '🔍';
  --icon-filter: '🎛';
  --icon-star-empty: '🔖';
  --icon-more: '⚙️';
  --icon-help: '❓';
  --icon-menu-closed: '⬅️';
  --icon-menu-open: '➡️';
  --icon-menu: '🍔';
  --icon-cross: '❌';
  --icon-pin: '📌';
  --icon-video: '🎥';
  --icon-chat: '💬';
  --icon-trash: '🗑';
  --icon-export: '📤';
  --icon-eye-open: '👀';
  --horizontal-distribution: '📐';
  /* dropdown icons */
  --icon-tick: '✅';
  --icon-git-new-branch: '☝🏽';
  --icon-new-link: '👇🏽';
  --icon-new-layers: '🛏';
  --icon-translate: '♊️';
  --icon-time: '⏰';
  --icon-stopwatch: '⏱';
  --icon-issue-new: '▶️';
  --icon-fast-forward: '⏭';
  --icon-fast-backward: '⏮';
  --icon-bold: '🅱️';
  --icon-italic: '🇮🇹';
  --icon-highlight: '🔦';
  --icon-code-block: '🧱';
  --icon-function: '💻';
  --icon-calculator: '🧮';
  --icon-cloud-upload: '🌩';
  --icon-strikethrough: '🖊';
  --icon-code: '⌨️';
  /* shorthands */
  --shorthand-at: 'Read/Watched';
  --shorthand-bang: 'Currently';
  --shorthand-tilde: 'Unread/Not Watched';
  --shorthand-plus: 'Active Project';
  --shorthand-percent: 'Project Needs Definition';
  --shorthand-amp: 'Upcoming Project';
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
