/* .rm-title-display,
.rm-title-textarea,
.roam-log-page h1.level2 {
  height: auto !important;
  line-height: 1.5 !important;
  font-size: 26px !important;
  font-weight: 600 !important;
}

.rm-heading-level-1 > .rm-block-main span {
  margin-top: -2px !important;
}
.rm-heading-level-1 > .rm-block-main div,
.rm-heading-level-1 > .rm-block-main textarea {
  font-size: 22px !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
}

.rm-heading-level-2 > .rm-block-main span {
  margin-top: -2px !important;
}
.rm-heading-level-2 > .rm-block-main div,
.rm-heading-level-2 > .rm-block-main textarea {
  font-size: 20px !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
}

.rm-heading-level-3 > .rm-block-main span {
  margin-top: -1px !important;
  color: var(--c2) !important;
}
.rm-heading-level-3 > .rm-block-main div,
.rm-heading-level-3 > .rm-block-main textarea {
  color: var(--c2) !important;
  font-size: 18px !important;
  line-height: 1.5 !important;
}

.level2 {
  font-weight: inherit !important;
}

h1 {
  color: var(--c1) !important;
} */
